[Unit]
Description=Nateflix
Requires=network.target,docker.service
After=network.target,docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker-compose -f /home/nate/code/nateflix/docker-compose.yml up --remove-orphans -d
ExecStartPre=/usr/bin/docker-compose -f /home/nate/code/nateflix/docker-compose.yml pull
ExecStop=/usr/bin/docker-compose -f /home/nate/code/nateflix/docker-compose.yml down

[Install]
WantedBy=multi-user.target
